@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/***************
変数
***************/
:root {
  /* リンク */
  --link_color--primary: #9c60ea;
  --link_color--secondary: #777777;

  /* 背景 */
  --bg_color--dark: #0d0714;
  --bg_color--purple: #15101c;

  /* テーマカラー */
  --primary_color: #8f6cbd;
  --secondary_color: #634986;

  /* テキスト */
  --text_color--white: #ffffff;
  --text_color--black: #010101;
  --text_color--gray: #777777;

  /* キャレット */
  --caret_color: #8f6cbd;
}

/***************
アイコン
***************/
.ph--plus-light {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M222 128a6 6 0 0 1-6 6h-82v82a6 6 0 0 1-12 0v-82H40a6 6 0 0 1 0-12h82V40a6 6 0 0 1 12 0v82h82a6 6 0 0 1 6 6'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.lucide--check {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mdi--edit {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ph--trash-simple {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M216 48H40a8 8 0 0 0 0 16h8v144a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16V64h8a8 8 0 0 0 0-16m-24 160H64V64h128ZM80 24a8 8 0 0 1 8-8h80a8 8 0 0 1 0 16H88a8 8 0 0 1-8-8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.icon-park-outline--return {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='m13 8l-7 6l7 7'/%3E%3Cpath d='M6 14h22.994c6.883 0 12.728 5.62 12.996 12.5c.284 7.27-5.723 13.5-12.996 13.5H11.998'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/***************
CSSリセット
***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
body {
  background-color: var(--bg_color--dark);
}
input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #8f6cbd;
  background-color: transparent;
  color: var(--text_color--white);
  caret-color: var(--caret_color);
}
button {
  outline: none;
  border: none;
  background: none;
}
ul{
  padding-left:0;
}
li{
  list-style:none;
}

/***************
登録・ログイン画面
***************/
#form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#form .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 290px;
}
#form .container h1 {
  color: var(--text_color--white);
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}
#form .container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#form .container .input_area {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#form .container .input_area label {
  margin-bottom: 8px;
  color: var(--text_color--white);
  font-weight: 500;
  font-size: 10px;
}
#form .container input,
#form .container button {
  height: 45px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}
#form .container input {
  padding: 10px;
  font-weight: 400;
}
#form .container button {
  background-color: var(--primary_color);
  color: var(--text_color--white);
  cursor: pointer;
  font-weight: 500;
  transition: 0.45s;
}
#form .container button:hover {
  background-color: var(--secondary_color);
}
#form .container form a {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: var(--link_color--secondary);
  margin-bottom: 20px;
}
#form .container p {
  font-size: 12px;
  font-weight: 600;
  color: var(--text_color--gray);
}
#form .container .redirect_link {
  font-size: 12px;
  color: var(--link_color--primary);
}

/***************
ホーム画面
***************/
#home {
  display: flex;
  align-items: center;
  justify-content: center; 
}
#home .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
  padding: 80px 0;
  gap: 32px;
}
#home .add_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
}
#home .add_input {
  padding: 0 16px;
  margin-right: 6px;
  color: var(--primary_color);
  border-radius: 10px;
}
#home .add_btn {
  background-color: var(--primary_color);
  color: var(--text_color--white);
  border-radius: 10px;
  width: 10%;
  height: 100%;
  transition: 0.45s;
}
#home .add_btn:hover {
  background-color: var(--secondary_color);
}
#home button span {
  width: 22px;
  height: 22px;
}
#home .task_qty {
  color: var(--text_color--white);
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}
#home li {
  background-color: var(--bg_color--purple);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  height: 75px;
  color: var(--primary_color);
  margin-bottom: 16px;
}
#home li > div {
  display: flex;
  gap: 16px;
}
#home li button {
  color: var(--primary_color);
  transition: 0.35s;
}
#home li button:hover {
  color: var(--secondary_color);
}
#home li span {
  width: 22px;
  height: 22px;
}
#home .done {
  color: #78cfb0;
  text-decoration: line-through;
}
#home .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}
#home .modal {
  z-index: 2;
  width: 480px;
  padding: 30px;
  background: var(--bg_color--dark);
  border-radius: 10px;
  filter: drop-shadow(0 0 6px var(--primary_color));
}
#home .modal h1 {
  color: var(--text_color--white);
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 32px;
}
#home .modal .update_input {
  font-size: 16px;
  padding: 14px;
  border-radius: 6px;
  color: var(--primary_color);
}
#home .modal .button_area {
  display: flex;
  justify-content: end;
  margin-top: 44px;
}
#home .modal button {
  font-size: 14px;
  border-radius: 6px;
  padding: 10px 16px;
  transition: 0.35s;
}
#home .modal .cancel_btn {
  background-color: #2a323c;
  color: var(--text_color--white);
  margin-right: 16px;
}
#home .modal .update_btn {
  background-color: var(--primary_color);
  color: var(--text_color--white);
}
#home .modal .cancel_btn:hover {
  background-color: #181c22;
}
#home .modal .update_btn:hover {
  background-color: var(--secondary_color);
}
#home .transition-enter .modal {
  opacity: 0;
  transform: scale(0.9);
}
#home .transition-enter-active .modal {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s;
}
#home .transition-exit .modal {
  opacity: 1;
}
#home .transition-exit-active .modal {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s;
}